.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header .navbar a {
  color: #ffff;
  font-size: 1rem;
  margin: 0 0.8rem;
}

/************************************Home***************************/

section {
  padding: 2rem 9%;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}

.home .content {
  text-align: center;
}

.home .content h3 {
  font-size: 1.5rem;
  color: rgb(61, 52, 52);
  text-transform: uppercase;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

.home .content p {
  font-size: 1.3rem;
  color: rgb(61, 50, 50);
  padding: 0.5rem 0;
}

.video-container video {
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2); */
  object-fit: contain;
  z-index: -1;
}

.controls {
  padding: 1rem;
  border-radius: 5rem;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 10rem;
}

.vid-btn {
  height: 0.8rem;
  width: 0.8rem;
  display: inline-block;
  border-radius: 50%;
  background: #ffff;
  cursor: pointer;
  margin: 0 0.5rem;
}

/************************************trip***************************/

.trip .card {
  height: 230px;
  width: 200px;
}

.trip .card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.trip .card-img-top {
  height: 230px;
  margin-bottom: 15px;
  background-size: cover;
}

.trip .card-title {
  flex-grow: 1;
}

.trip .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

/************************************blocks***************************/

.heading {
  text-align: center;
  padding: 2.5rem 0;
}

.heading span {
  font-size: 2.5rem;
  background: rgba(255, 165, 0, 0.2);
  color: orange;
  border-radius: 1.1rem;
  padding: 0.2rem 1rem;
}

/************************************pakages***************************/

.card {
  height: 400px;
  width: 300px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.card-img-top {
  height: 230px;
  margin-bottom: 15px;
  background-size: cover;
}

.card-title {
  flex-grow: 1;
}

.pakages .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.btn {
  margin-top: auto;
}

/************************************services***************************/

.services .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.services .box-container .box {
  flex: 1 1 20rem;
  border-radius: 0.6rem;
  padding: 0.5rem;
  text-align: center;
}

.services .box-container .box i {
  font-size: 2rem;
  color: orange;
  padding: 0.5rem;
}

.services .box-container .box h4 {
  font-size: 1rem;
  color: #333;
}

.services .box-container .box p {
  font-size: 1rem;
  color: #666;
  padding: 0.5rem 0;
}

.services .box-container .box:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

/************************************contact***************************/

.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
}

.contact .row .image {
  flex: 1 1 10rem;
}

.contact .row .image img {
  width: 100%;
}
.contact .row form {
  flex: 1 1 10rem;
  padding: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.contact .row form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact .row form .inputBox input,
.contact .row form textarea {
  width: 49%;
  margin: 1rem 0;
  padding: 1rem;
  font-size: 1rem;
  color: #333;
  background: #f7f7f7;
  text-transform: none;
}

.contact .row form textarea {
  height: 5rem;
  resize: none;
  width: 100%;
}

/************************************footer***************************/

.footer {
  background: #333;
}

.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.footer .box-container .box {
  padding: 1rem 0;
  flex: 1 1 15rem;
}

.footer .box-container .box h4 {
  font-size: 1rem;
  padding: 0.5rem 0;
  color: #ffff;
}

.footer .box-container .box p {
  font-size: 1rem;
  padding: 0.5rem 0;
  color: #eee;
}

.footer .box-container .box a {
  display: block;
  font-size: 1rem;
  padding: 0.5rem 0;
  color: #eee;
}

.footer .box-container .box a:hover {
  color: cornflowerblue;
  text-decoration: underline;
}

.footer .credit {
  text-align: center;
  padding: 1rem 15.8rem;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: normal;
  color: #ffff;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
}

/************************************end***************************/

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#gallery::before {
  display: block;
  content: " ";
  margin-top: -65px;
  height: 65px;
  visibility: hidden;
}

@media screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {
  div.example {
    display: none;
    font-size: 30px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.review .container .user-image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.3rem;
}
